:root {
    --primary-color: #ffffff;
    --accent-color-d: #F3F3F3;
    --accent-color-l: #ffe6001a;
    --btn-color: #FFE600;
    --primary-text-color: #333333;
    --secondary-text-color: #fafafa;
    /* --accent-text-color: #ffffff;  */
    /* --time: 250ms; */
    /* --cubic: cubic-bezier(0.4, 0, 0.2, 1); */
  }
  
  body {
    font-family: "Value Sans Pro", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    line-height: normal;
    
  }
  body.no-scroll {
    overflow: hidden;
  }
  input {
    outline: none;
  }
  .container {
    max-width: 1700px;
    width: 100%;   
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto; 
  }
  @media screen and (max-width: 860px) {
  }
  .container-h {
    width: 100%;   
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto; 
  }
  .container-singl{
    max-width:1160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hidden {
    display: none;
  }
  .section-title {
    font-family: Unbounded;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 36px;
  }
  .section-text {  
  }
  .section {
    margin-bottom: 84px;
  }
  .section-s {
    margin-bottom: 16px;
  }
  .title-item {
    font-family: Unbounded;
    color: var(--secondary-text-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
  }
  .title-item-h4{
    font-family: Unbounded;
    color: var(--primary-text-color);   
    font-size: 18px;    
    font-weight: 500;
    line-height: 150%; /* 27px */
  }
  .text-item {
    line-height: 150%; 
  }
  .section-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-item {    
    width: 32%;
    padding: 24px;
    border-radius: 33px;
    background: var(--accent-color-d);
    justify-content: space-between;
  }

  .btn {
    font-family: Unbounded;   
    color: var(--primary-text-color);  
    font-weight: 500;
    border-radius: 64px;
    border: none;
    background: var(--btn-color);
    display: flex;

    padding: 24px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
  }
  .btn-icon{
    width: 24px;
 }
  /*-------------------HEADER----------------*/
  .header{
    margin-top: 16px;   
    margin-bottom: 16px;   
  }
  .header-container {      
    padding: 24px 36px;
    border-radius: 24px;
    background: var(--accent-color-d);
  }

  .logo {
    border: 1px solid var(--primary-text-color);
    border-radius: 38px;
    padding: 7px 24px;  
  }
  .logo a{
    width: 160px;
  }
  .header-menu{
width: 50%;
  }
  .header-menu-list{   
    justify-content: space-around;
    /* gap: 74px; */
  }
  .header-menu ul li a {
    color: var(--primary-text-color);
    font-family: "Value Sans Pro";
    /* padding-right: 60px; */
    /* padding-bottom: 5px; */
    font-size: 16px;    
  }
  .header-menu-list li a:last-child {
    /* padding-right: 0; */
  }
  .header-menu ul li:hover,
  .header-menu ul li:active {
    text-decoration: underline;
    font-weight:700 ;
  }
  .select{
    font-family: Unbounded;
  }
  .menu-button{
gap: 8px;
  }
  .menu-btn-1{
    border: 1px solid var(--primary-text-color);
    background-color: transparent;
    padding: 16px 36px;
  }
  .menu-btn-2{
    padding: 16px 36px;
  }
  .header-burger {
    display: none;
  }
  .mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 12;
  }
  .mobile-menu.is-active {
    display: block;
  }
/*-------------------BANNER----------------*/
.hero {  
    background: linear-gradient(90deg, 
    rgba(45, 45, 45, 0.54) 0.14%, 
    rgba(13, 13, 13, 0.49) 43.78%,
     rgba(0, 0, 0, 0.00) 99.9%), 
     url(../img/hero.jpg), lightgray 0px -427.307px / 100% 157.58% no-repeat;
    background-size: cover;
    border-radius: 36px;
    padding-top: 115px;
    padding-bottom: 95px;
    padding-left: 80px;
    margin-bottom: 84px;
  }
  .hero-title {
    max-width: 750px;
    width: 100%;
    /* text-align: center; */
    font-family: Unbounded;
    font-size: 64px;
    font-weight: 700;
    color:var(--secondary-text-color);
    /* margin: 0 auto; */
    margin-bottom: 28px;
  }
  .hero-subtitle {
    margin-bottom: 36px;
    color:var(--secondary-text-color);
    font-size: 24px;
    font-weight: 500;
    /* text-align: center; */
  }

  .hero-list{
    display: flex;
    flex-wrap: wrap;    
    gap: 15px;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 45px
  }
  .hero-item{
    width: 475px;
    display: flex;
    align-items: center;    
    gap: 15px;
    padding: 20px 40px;
    font-size: 18px;
    color:var(--primary-color);
    font-weight: 500;
    line-height: 150%; /* 27px */
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(9.449999809265137px);
  }
  .hero-item-icon{
    width: 42px;
 }
 .hero-form{
display: block;
 }
  .hero-btn {  
  }
  .hero-btn-img {  
    display: inline;      
    width: 20px;
  }
 /*-------------------ABOUT-US----------------*/
 .about-s-container{
   display: flex;
   align-items: center;
   gap: 96px;
 }
 .about-s-img{
    width: 50%;
    object-fit: cover;
    height: 424px;
    flex-shrink: 0;
    border-radius: 25px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
 }
 
 .about-s-title{    
    font-family: Unbounded;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 36px;
 }
 .about-s-text{
font-size: 18px;
line-height: 150%; /* 27px */
 }
 .about-s-btn{
    width: 294px;
margin-top: 36px;
display: flex;
padding: 24px 64px;
justify-content: center;
align-items: center;
gap: 10px;
}
/*-------------------PRODUCT----------------*/
.products-s-title {
    margin-bottom: 10px;
    text-align: center;
  }
  .products-s-list{
  }
  .products-s-item{
    width: 49%;
    padding: 24px 36px;
  } 
  .products-s-btn {
    background: var(--primary-color);
    text-decoration: underline; 
    padding: 14px 24px;
    width: 100%; 
    justify-content: space-between; 
    white-space:nowrap;
  }
  .products-s-btn-1{
    /* gap: 18px; */
    margin-bottom: 16px;
  }
  .products-s-item-img {
    border-radius: 24px;
    margin-bottom: 30px;
  }
  .products-s-item-img-wrap{
position: relative;
  }
  .products-s-item-title {
    position: absolute;
    bottom:16px;
    left: 24px; 
    font-size: 32px;  
  }
  .products-s-item-descr {
    /* max-width: 420px;
    width: 100%; */
    margin-left: 40px;
  }
  .products-s-item-img {    
    width: 100%;
  }
  /*-------------------services----------------*/
.products-s-title {
    margin-bottom: 10px;
    text-align: center;
  }
  .products-s-list{
  }
  .products-s-item{
    width: 49%;
    padding: 24px 36px;
  } 
  .services-s-item-img {
    border-radius: 27px;
    margin-bottom: 24px;
  }
  .services-s-btn{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 10px;
  }
  .services-s-btn-icon{
    width: 36px;
  }
  .services-s-item-img-wrap{
position: relative;
  }
  .services-s-item-title-wrap{
    position: absolute;
    bottom:16px;
    left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
  }
  .services-s-item-title {

      
  }
  .products-s-item-descr {
    /* max-width: 420px;
    width: 100%; */
    margin-left: 40px;
  }
  .services-s-item-img {    
    width: 100%;
  }
  .services-s-row{
  padding-left: 20px;
  padding-right: 20px;
  }

  /*-------------------UNICITY----------------*/

  .unicity-s{
    border-radius: 36px;
    background: var(--accent-color-l);
  }
  .unicity-s-container {
    align-items: end;
  }
  .unicity-s-title{
    text-align: left;
  }
  .unicity-s-discr-list{
    background: var(--primary-color);
    border-radius: 36px;
    padding: 36px 36px 0 36px;

  }
 
  .unicity-s-discr-item{
    align-items: start;
    padding-bottom: 31px;
  }
  .unicity-s-discr-item-title{
    margin-bottom: 16px;
  }
  .unicity-s-discr-item div{
    margin-left: 16px;
  }
  .unicity-s-desc{
    padding: 60px;
    margin-right: 20px;
  }
  .unicity-s-img{
    padding-top: 60px;
    width: 50%;
  }

 /*-------------------STAGES----------------*/
  .stages-s {
  }
  .section {
  }
  .stages-s-title {
  }
  .section-title {
  }
  .stages-s-icon{   
    margin: 0 auto;
    margin-bottom: 16px;
    width: 80%;
  }
  .stages-s-icon2{
    margin-top: 56px;
  }
  .stages-s-list {

  }
  .section-list {
  }
  .stages-s-item {
    background: var(--accent-color-d);
    padding: 24px 31px;
  }
  .stages-s-item1{
    background: var(--btn-color);
  }
  .stages-s-item-icon{
    width: 60px;
    margin-bottom: 36px;
  }
  .stages-s-item-icon1{
    width: 84px;
    padding: 10px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-bottom: 24px;
  }
  .section-item {
  }
  .stages-s-item-wrap {
   
  }
  .stages-s-item-step{
    color: #B9B9B9;
    text-transform: uppercase;
    font-family: Unbounded;
    line-height: 150%; /* 24px */
    margin-bottom: 6px;
  }
  .stages-s-item-step1{
    color: #6B6423;
  }
  .stages-s-item-title {
    margin-bottom: 6px;
  }
  .title-item-h4 {
  }
  .stages-s-item-text {
  }
  .stages-s-item-text a{
    color: var(--primary-text-color);
    font-weight: 600;
    text-decoration: underline;
  }
  .text-item {
  }
   /*-------------------FORM----------------*/

   .form-s {
  }
  .section {
  }
  .form-s-container {
    align-items:stretch;
  }
  .row {
  }
  .form-s-desc {
    width: 50%;
    border-radius: 60px 0px 0px 60px;
    background: var(--btn-color);
    padding: 60px 60px 60px 56px;
  }
  .form-s-title {
    font-size: 32px;
    text-align: left;
  }
  .section-title {
  }
  .form-s-item-text {
    margin-bottom: 54px;
  }
  .form-s-img  {
    width: 100%;
  }
  .form-s-form {
    width: 50%;
    border-radius: 0 60px 60px 0;
    background: var(--accent-color-d);
    padding: 60px 128px;
  }

  .form-s-form form input{
    width: 100%;
    padding: 24px;
    border-radius: 40px;
    border: 1px solid #EAEAEA;
    background: var(--primary-color);
    margin-bottom: 16px;
  }
  .form-s-form form input::placeholder{
    color: var(--grey, #B9B9B9);
    font-family: Mulish;
    font-weight: 500;
  }

  .form-s-form form textarea::placeholder{
    color: var(--grey, #B9B9B9);
    font-family: Mulish;
    font-weight: 500;
  }

  .form-s-form form textarea{
    width: 100%;
    height: 266px;
    padding: 24px;    
    border-radius: 24px;
    border: 1px solid #EAEAEA;
    background: var(--primary-color);
  }

  .form-s-form form button{
    /* display: flex; */
width: 100%;
padding: 24px 54px;
/* justify-content: center; */
/* align-items: center; */
gap: 10px;
border-radius: 64px;
background: var(--btn-color);
border:none;
margin-top: 24px;
font-family: Mulish;
font-size: 18px;
font-weight: 700;
  }

/*-------------------reviews----------------*/

.reviews-s-item {
  padding: 36px;
  border-radius: 14px;  
}
.reviews-s-item-title-wrap{
  margin-bottom: 24px;
}
.reviews-s-item-title-wrap p{ 
  color: #6B6423;
  font-size: 18px;
}
.reviews-s-item-img{
  justify-content: end;
  gap: 16px;
  margin-top: 24px;
}

/*-------------------question----------------*/

.question-s-item {
  margin: 0 auto;
  width: 1300px;
  margin-bottom: 16px;
}

.question-s-item-title-wrap { 
padding: 24px 36px;
border-radius: 20px;
background: var(--accent-color-d);
}
.faq-img{
  background: transparent;
  border:none;
}
.question-s-text{
padding: 24px 36px;
border-radius: 20px;
border: 1px solid var(--btn-color);
background: #FFFCE5;
}

/*-------------------FOOTER----------------*/
  .footer{
    background: var(--primary-text-color);
    padding-top: 54px;
    padding-bottom: 24px;
  }
  .footer-row{
    color:var(--primary-color);
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: start;    
  }
  .footer-item1{
    width: 20%;
  }
  .footer-item2{
    width: 20%;
  }
  .footer-item3{
    width: 15%;
  }
  .footer-item4{
    width: 25%;
  }
  .footer-logo {
    padding: 16px 36px;
    margin-bottom: 16px;
  }  
  .footer-title{
    margin-bottom: 24px;
  }
  .footer-list li{
    margin-bottom: 24px;
  }
  .footer-list{
    margin-bottom: 54px;
  }
  .footer-contacts-map{
    width: 100%;
  } 
  .copy{
    color:var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }   
  .footer-title {
    color:var(--secondary-text-color)
  }
  .footer-so—Å{
    width: 205px;
  }
.footer-title-a{
  margin-top: 95px;
}     
.footer-list-cont li a{
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-list-cont{
  margin-bottom: 24px;
}